<section class="section_aboutUs" id="about%20us">
    <div class="div_aboutUs">
        <div class="div_image">
            <div class="div_i" style="background-image: url(<%= asset_path 'bg-about.jpg' %>);"></div>
        </div>
        <div class='div_text'>
            <div class='title'>
                <h1 class="title1">about us</h1>
                <h1 class="description">we care for your dental health</h1>
                <div class="paragraphe">
                    <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia minima possimus nobis commodi rem suscipit soluta deserunt obcaecati, numquam deleniti minus magnam ad aliquid harum necessitatibus rerum, consectetur mollitia odit architecto provident magni. Velit est eligendi repellendus eveniet recusandae! Voluptates minus distinctio vel quo odio, incidunt nemo tempora nulla.</p>
                    <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia minima possimus nobis commodi rem suscipit soluta deserunt obcaecati, numquam deleniti minus magnam ad aliquid harum necessitatibus rerum, consectetur mollitia odit architecto provident magni. Velit est eligendi repellendus eveniet recusandae! Voluptates minus distinctio vel quo odio, incidunt nemo tempora nulla.</p>
                </div>
            </div>
        </div>
    </div>
</section>
